 /* Solution 1 */
 div {
    border-radius: 50%;
  }
  
#outer {
    background-color: #ffa500;
    width: 200px;
    height: 200px;
    border: 25px solid #ff0000;
    padding: 25px;
}
  
#middle {
    background-color: #008000;
    width: 100px;
    height: 100px;
    border: 25px solid #ffff00;
    padding: 25px;
}

#inner {
    background-color: #800080;
    width: 50px;
    height: 50px;
    border: 25px solid #0000ff;
}

/* Solution 2 */
:root {
    --circle-thickness:25px;
}

div {
    border-radius: 50%;
}

#outer {
    --orange-size: calc(var(--circle-thickness) * 8);

    background-color: #ffa500;
    width: var(--orange-size);
    height: var(--orange-size);
    border: var(--circle-thickness) solid #ff0000;
    padding: var(--circle-thickness);
}

#middle {
    --green-size: calc(var(--circle-thickness) * 4);

    background-color: #008000;
    width: var(--green-size);
    height: var(--green-size);
    border: var(--circle-thickness) solid #ffff00;
    padding: var(--circle-thickness);
}

#inner {
    --purple-size: calc(var(--circle-thickness) * 2);

    background-color: #800080;
    width: var(--purple-size);
    height: var(--purple-size);
    border: var(--circle-thickness) solid #0000ff;
}

/* Solution 3 */
#inner {
    --circle-thickness: 25px;
    --purple-size: calc(var(--circle-thickness) * 2);
    --offset: calc(var(--circle-thickness) *5 );

    position: relative;
    left: var(--offset);
    top: var(--offset);
    border-radius: 50%;
    background-color: #800080;
    width: var(--purple-size);
    height: var(--purple-size);
    box-shadow: 0 0 0 var(--circle-thickness) #0000ff,
    0 0 0 calc(var(--circle-thickness) * 2) #008000,
    0 0 0 calc(var(--circle-thickness) * 3) #ffff00,
    0 0 0 calc(var(--circle-thickness) * 4) #ffa500,
    0 0 0 calc(var(--circle-thickness) * 5) #ff0000;
}

/* Solution 4 */
div {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer {
    background-color: #ffa500;
    width: 250px;
    height: 250px;
    border: 25px solid #ff0000;
}

#middle {
    background-color: #008000;
    width: 150px;
    height: 150px;
    border: 25px solid #ffff00;
}

#inner {
    background-color: #800080;
    width: 50px;
    height: 50px;
    border: 25px solid #0000ff;
}


